@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Jaguar';
  src: url('./assets/fonts/jaguar.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

